{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="topnav">
            <h1>Airline Reservation System</h1>
            <a href={% url 'Airline_Reservation:back_page' %}>Back</a>
            <a href={% url 'Airline_Reservation:logout_page' %}>Logout</a>
            <a><h4>Hello {{ user.username}}</h4></a>
            </div>

{% else %}
    <div class="topnav">
            <h1>Airline Reservation System</h1>
            <a href={% url 'Airline_Reservation:signup_page' %}>Signup</a>
            <a href={% url 'Airline_Reservation:login_page' %}>Login</a>
            </div>
{% endif%}
<style>marquee{
    height:630px;
    padding:10px;
    font-size:100px
    }
</style>
<marquee direction="down" >
    <h1>Airline reservation systems incorporate airline schedules, fare tariffs, passenger reservations and ticket records.</h1?
    <h1>Using these web services on airline reservation system interface, the information for the airline availability and pricing can be published on a user friend GUI interface. End user can select the flight and proceed for the booking.</h1>
</marquee> 
{% endblock %}